<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <!-- LINKS UTILIZANDO DIRETIVA ROUTERLINK CONTENDO ROTA DEFINIDA NO ROUTING MODULE PARA CADA COMPONENT -->
    <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<!-- ROUTER-OUTLET RENDERIZA COMPONENTS APONTADOS PELAS ROTAS -->
<router-outlet></router-outlet>